<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.franzi.rentrapp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TECHG_"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.Menue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //SetUp

        <activity
            android:name=".Activity.SetUp.CreateNewSurvey"
            android:parentActivityName=".Activity.Menue"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.SetUp.CreateNewSurvey2"
            android:parentActivityName=".Activity.SetUp.CreateNewSurvey"
            android:windowSoftInputMode="stateHidden" />
        //Execution
        <activity
            android:name=".Activity.Execution.Start"
            android:parentActivityName=".Activity.Menue" />
        <activity
            android:name=".Activity.Execution.ParticipantInput"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.Execution.Questionnaire" />
        <activity
            android:name=".Activity.Execution.Individuell"
            android:parentActivityName=".Activity.Execution.ParticipantInput" />
        <activity
            android:name=".Activity.Execution.Organisatorisch"
            android:parentActivityName=".Activity.Execution.Individuell" />
        <activity
            android:name=".Activity.Execution.System"
            android:parentActivityName=".Activity.Execution.Organisatorisch" />
        //Evaluation
            android:parentActivityName=".Activity.Execution.Organisatorisch"/>

            android:parentActivityName=".Activity.Execution.Organisatorisch" />
        //Evaluation
        <activity
            android:name=".Activity.Evaluation.StartResult"
            android:parentActivityName=".Activity.Menue" />
        <activity
            android:name=".Activity.Evaluation.Results"
            android:parentActivityName=".Activity.Evaluation.StartResult" />
        <activity android:name=".SurveySuccessfullyCreated"></activity>
    </application>

</manifest>